<template>
  <div>
    <h2>Foto's</h2>
    <div class="offer-media">
      <div class="offer-media__item" v-for="(media, i) in medias" :key="i">
        <div v-for="(image, i) in media.MediaItems" v-if="i == 2" :key="i">
          <img :src="image.Url" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: ['medias'],
  }
</script>

<style lang="scss">
  .offer-media {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__item {
      margin-bottom: 2%;

      img {
        max-width: 100%;
        display: block;
      }

      @media (min-width: $breakpoint) {
        width: 49%;
        display: inline-block;
      }
    }
  }
</style>

