<template>
  <div class="offer-map">
      <h2>Buurt</h2>
      <p class="offer-map__address">{{ address }} - {{ city }} - {{ postcode }}</p>
      <div class="offer-map__map" ref="map"></div>
  </div>
</template>

<script>
  export default {
    props: ['address', 'postcode', 'city', 'lat', 'lng'],

    methods: {
      createMap() {
        const offerLatLng = new google.maps.LatLng(this.lat, this.lng);

        const map = new google.maps.Map(this.$refs.map, {
          zoom: 15,
          center: offerLatLng,
          mapTypeControl: true,
        });

        new google.maps.Marker({
          position: offerLatLng,
          map: map,
          icon: '/images/marker.png'
        });
      },

      execute() {
        this.$google.maps.event.addDomListener(window, 'load', this.createMap());
      }
    },

    mounted() {
      if (this.$google) {
        this.execute();
      } else {
        const callback = () => {
          this.execute();
          window.removeEventListener('maps-module:loaded', callback);
        }
        window.addEventListener('maps-module:loaded', callback);
      }
    },
  }
</script>

<style lang="scss">
  .offer-map {
    &__address {
      padding: 0 10px;

      @media (min-width: $breakpoint) {
        padding: 0;
      }
    }

    &__map {
      background: $gray-light;
      height: 500px;
    }
  }
</style>

