<template>
  <div class="offer-info">
      <div class="offer-info__image" :style="{ backgroundImage: `url(${info.HoofdFotoSecure})` }"></div>
      <div class="container">
        <h1 class="offer-info__title">{{ info.Adres }}</h1>
        <div class="offer-info__price">
          {{ formattedPrice }}
        </div>
        <dl class="offer-info__details">
          <dd>Bouwjaar</dd>
          <dt>{{ info.Bouwjaar }}</dt>
          <dd>Woonoppervlakte</dd>
          <dt>{{ info.WoonOppervlakte }} m2</dt>
          <dd>Aantal kamers</dd>
          <dt>{{ info.AantalKamers }}</dt>
          <dd>Perceeloppervlakte</dd>
          <dt>{{ info.PerceelOppervlakte }} m3</dt>
        </dl>
      </div>
  </div>
</template>

<script>
  export default {
    props: ['info'],

    computed: {
      formattedPrice: function () {
        return `€ ${this.info.Prijs.Koopprijs.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")} k.k.`;
      }
    }
  }
</script>

<style lang="scss">
  .offer-info {
    &__image {
      background-color: $gray-dark;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      padding-bottom: 45vw;
      background-position: center center;

      &:before {
        content: '';
        background-color: rgba($gray-dark, 0.3);
        width: 100%;
        height: 100%;
        position: absolute;
      }
    }

    &__title {
      padding: 0 10px;

      @media (min-width: $breakpoint) {
        font-size: 2rem;
        color: #fff;
        margin-top: -6.4rem;
        z-index: 111;
        position: relative;
      }
    }

    &__price {
      display: inline-block;
      width: auto;
      height: 38px;
      background-color: $gray-light;
      border-radius: 3px 4px 4px 3px;
      border-left: 1px solid $gray-light;
      margin-left: 29px;
      position: relative;
      color: white;
      font-size: 22px;
      padding: 0 10px 0 10px;
      margin-bottom: 1rem;

      &:before {
        content: "";
        position: absolute;
        display: block;
        left: -19px;
        width: 0;
        height: 0;
        border-top: 19px solid transparent;
        border-bottom: 19px solid transparent;
        border-right: 19px solid $gray-light;
      }

      &:after {
        content: "";
        background-color: white;
        border-radius: 50%;
        width: 4px;
        height: 4px;
        display: block;
        position: absolute;
        left: -9px;
        top: 17px;
      }
    }

    &__details {
      background: rgba(#ededed, 0.7);
      padding: 10px;

      @media (min-width: $breakpoint) {
        padding: 20px;
        position: absolute;
        color: $gray-dark;
        right: 0;
        transform: translateY(-100%);
      }

      dd {
        font-weight: bold;
      }
    }

    &__description {
      padding: 20px 10px;

      @media (min-width: $breakpoint) {
        padding: 20px 0;
      }
    }
  }
</style>

