@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

html {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  line-height: 1.5;
  color: $gray-light;
}

a {
  color: $orange;
}

h1,
h2,
strong {
  color: $gray-dark;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h1,
h2 {
  padding: 1em 10px 0;

  @media (min-width: $breakpoint) {
    padding: 1em 0 0;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}
