<template>
  <section>
    <HeaderLogo />
    <OfferInfo :info="offer" />
    <div class="container">
      <OfferMap :address="offer.Adres" :lat="offer.WGS84_Y" :postcode="offer.Postcode" :city="offer.Plaats" :lng="offer.WGS84_X" />
      <OfferMedia :medias="offer.Media" />
    </div>
  </section>
</template>

<script>
import HeaderLogo from '~/components/HeaderLogo.vue';
import OfferInfo from '~/components/OfferInfo.vue';
import OfferMedia from '~/components/OfferMedia.vue';
import OfferMap from '~/components/OfferMap.vue';

export default {
  components: {
    HeaderLogo,
    OfferInfo,
    OfferMedia,
    OfferMap,
  },

  async asyncData({ app }) {
    const offer = await app.$axios.$get('http://partnerapi.funda.nl/feeds/Aanbod.svc/json/detail/ac1b0b1572524640a0ecc54de453ea9f/koop/6289a7bb-a1a8-40d5-bed1-bff3a5f62ee6/')
    return { offer }
  },

  data: () => {
    return {
      offer: "",
    }
  },

  head () {
    return {
      title: 'Huis te koop: ' + this.offer.Adres,
      meta: [
        { hid: 'description', name: 'description', content: this.offer.VolledigeOmschrijving }
      ]
    }
  },
}
</script>

<style lang="scss">
  .container {
    max-width: $max-width;
    margin: 0 auto;
    position: relative;
  }
</style>

